{% extends 'campaign/base.html' %}
{% block content %}
<div class="bg-white p-5 rounded border shadow-sm">
    <h2 class="text-success border-bottom pb-2">About SDG 13: Climate Action</h2>
    <p class="lead">Climate change is affecting every country on every continent. It is disrupting national economies and affecting lives.</p>
    <p>Our app goals are to:</p>
    <ul>
        <li>Educate communities on green footprints.</li>
        <li>Organize local conservation activities like tree-planting drives.</li>
        <li>Provide a direct platform for passionate youth designers to step up.</li>
    </ul>
</div>
{% endblock %}